version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    groups:
      nestjs:
        patterns:
          - "@nestjs/*"
      dev-dependencies:
        dependency-type: development
        exclude-patterns:
          - "@nestjs/*"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
